@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
*{font-family: 'Lato', sans-serif;}
body{
    margin:0em;
    padding: 0em;

    background-color: #443F3E;
}
.pokedex{
    background-color: #f2f2f2;
}
/* -----------Estilos de header--------------------- */

header{
    width:100%;
    background: linear-gradient(to right,#47ae83, #44a582, 	#3e987f, #39907d, #35867d);
    font-family: 'Lato', sans-serif;
}
.img-menu{
    width: 2em;
    height: auto;
}
#btn-menu{
    display: none;
}
header label{
    display:none;
    width: 30px;
    height: 30px;
    padding: 0.8em;
   
}
header label:hover{
    display:block;
    width: 30px;
    height: 30px;
    padding: 0.8em;
    background: rgb(75, 100, 88, 0.3);
}
.elements-nav ul {
    margin:0em;
    padding: 0em;
    list-style: none;
    display: flex; 
    justify-content: flex-end;
}
.elements-nav a:hover{
    color: #a2db96;
}
.elements-nav li a{
    display: block;
    padding: 1.2em 2em;
    color: white;
    text-decoration: none;
}
@media(max-width:768px){
    header label{
        display:block;
    }
    .elements-nav{
        position: absolute;
        background: linear-gradient(to right,#47ae83, #44a582, 	#3e987f, #39907d, #35867d);
        width: 165px;
        margin-left: -165px;
        transition: all 0.5s;
    }
    .elements-nav ul{
        flex-direction: column;
    }
    #btn-menu:checked ~ .elements-nav{
        margin:0;
    }
}

/* -----------Estilos Buscador--------------------- */
.searcher{
    padding: 1em 0em;
}
.searcher div{
    margin: 0em auto;
    height: 40px;
    width: 30%;
    min-width: 300px;
    border-radius: 0.4em;
    border: solid 1px #337f7b;
    display:grid;
    grid-template-columns: 85% 10%;
    background-color: #ffffff;
    justify-content: center;
}

.searcher img{
    width: 2em;
    margin: auto;
}
.search {
    padding: 0em 0em;
    height: 40px;
    outline: 0;
    border: none;
    font-family: 'Lato', sans-serif;
}

/* -----------Estilos de Menu de funciones------------- */

.menu-container{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0em 0em 1em 0em;
}
.all-pokemon{
    font-family: 'Lato', sans-serif;
    border: none;
    outline: 0;
    background-color:  #84d89b;
    border-radius: 0.4em;
    padding: 0.3em 5em;
}
.all-pokemon:hover{
    background-color: #35867d;
    color:#ffffff;
    transition: background-color 0.5s ease-out;
    outline: 0;
}
.menu-container div{
    padding: 1em 1em 0em 1em;
}
.menu-container select{
    background-color: #ffffff;
    padding: 0.2em;
    width: 9em;
    border-radius: 0.4em;
    outline: 0;
}
.menu-container option{
    font-family: 'Lato', sans-serif;
}
.menu-container label{
    padding: 0em 0.5em;
}
.ordenar button{
    background-color: darkgoldenrod;
    margin: 2em;
    width: 3em;
}

/* ---------------Estilos conteo----------------- */

.pokemones-quantity{ 
    margin-left: auto;
    margin-right: auto;
    max-width:1100px;
    padding: 0em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 270px;
    border-top: solid 2px #337f7b;
}
.pokemones{
    font-size: 1.7em;
    font-weight: bold;
}
.quantity{
    text-align: center;
    width: 120px;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to right,#a2db96, #84d89b, 	#6ad59f, #51d2a2,#2ecea8);
    padding: 0.3em 0.3em;
    border-radius: 0.4em;
}
.btn-order{
    background-image: url('img/asc.png');
    margin-top: 2em;
    border-radius: 0.3em;
    width: 3em;
    height: 3em;
    outline: 0;
    border: solid 2px #337f7b;
}
.btn-orderAsc{
    background-image: url('img/desc.png');
    margin-top: 2em;
    border-radius: 0.3em;
    width: 3em;
    height: 3em;
    outline: 0;
    border: solid 1px #337f7b;
}
.btn-order:hover,
.btn-orderAsc:hover {
    background-color:#a2db96;
}
@media( max-width: 768px ){
    #container-pokemon{/**contenedor de card*/
        max-width: 650px;
    }
}
/* ---------------Estilos Card pokemon----------------- */
#container-card{/**contenedor de card*/
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    padding: 1em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.pokemon-group{
    box-shadow: 0 0 9px 0 #c4c3c3;
    background-color: #fcfcf9;
    padding: 1em;
    margin: 1em;
    border-radius: 0.4em;
    max-width:300px;
    min-width: 270px;
    display: grid;
    grid-template-columns: 53% 47%;
    flex-basis: 30%;
}
.poke-name {
    text-transform: capitalize;
    font-size: 1.2em;
    margin: 0.3em 0em 0.5em 0em;
    text-align: center;
    background-color:  #35867d;
    border-radius: 0.4em;
    color: white;
}
img{
    width: 140px;
    height: auto;
}

.poke-img{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-info {
    border-left: solid 2px #DDDDDD;
    font-size: 14px;
    padding-left: 1em;
    height: 150px;
}
.poke-info {
    font-size: 15px;
}
.message-error img{
    width: 15em;
}

/* ---------------Estilos btn top ---------------- */

.container-btn-top {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 1rem;
    height: 1rem;
    z-index: -3;
}

.btn-top {
    position: absolute;
    font-size: 1.7rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: .3s;
}

.show {
    z-index: 10;
    transform: translate(-50%, -50%) scale(1);
}

.show .btn-top {
    animation: popup .1s ease-in-out;
    width: 3.7rem;
    height: 3.7rem;
    color: #ffffff;
    z-index: 11;
    transform: translate(-50%, -50%) scale(1);
}

/* ---------------Estilos Footer ---------------- */

footer{
    background-color:#443F3E;
    color: rgb(185, 182, 182);
    font-family: 'Lato', sans-serif;
    margin: 1em auto;
}
footer .copyright,.team, .apps{
    padding: 0.5em 1.5em;
}
.team{
    border-left: solid 1px #337f7b;
    border-right: solid 1px #337f7b;
}
.team img{
    width: 2em;
    height: 2em;
}
.team p{
    margin: 0.5em;
}
.team div{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

/* ---------------Fin estilos Card pokemon----------------- */

@media( max-width: 768px ){
    #container-pokemon{/**contenedor de card*/
        max-width: 650px;
    }
}
@media( min-width: 768px ){
    footer{
        max-width: 1100px;
        display: grid;
        grid-template-columns: 40% 35% 25% ;
        margin: 2em auto;
    }
    .apps{
        padding: 2em;
    }
}


/* ---------Estilos en comun---------------------*/

.comun{
    text-align: center;
}
.bold{
    font-weight: bold; 
}

