@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
    margin:0em;
    padding: 0em;
    font-family: 'Lato', sans-serif;
}
.pokedex{
    background-color: #f2f2f2;
}
/* -----------Estilos de header--------------------- */

header{
    width:100%;
    background: linear-gradient(to right,#47ae83, #44a582, 	#3e987f, #39907d, #35867d);
    font-family: 'Lato', sans-serif;
}
.img-menu{
    width: 2em;
}
#btn-menu{
    display: none;
}
header label{
    display:none;
    width: 30px;
    height: 30px;
    padding: 0.8em;
   
}
header label:hover{
    display:block;
    width: 30px;
    height: 30px;
    padding: 0.8em;
    background: rgb(75, 100, 88, 0.3);
}
.elements-nav ul {
    margin:0em;
    padding: 0em;
    list-style: none;
    display: flex; 
    justify-content: flex-end;
}
.elements-nav a:hover{
    color: #a2db96;
}
.elements-nav li a{
    display: block;
    padding: 1.2em 2em;
    color: white;
    text-decoration: none;
}
@media(max-width:768px){
    header label{
        display:block;
    }
    .elements-nav{
        position: absolute;
        background: linear-gradient(to right,#47ae83, #44a582, 	#3e987f, #39907d, #35867d);
        width: 165px;
        margin-left: -165px;
        transition: all 0.5s;
    }
    .elements-nav ul{
        flex-direction: column;
    }
    #btn-menu:checked ~ .elements-nav{
        margin:0;
    }
}

/* -----------Estilos Buscador--------------------- */
.searcher{
    padding: 1em 0em;
}
.search {
    height: 40px;
    outline: 0;
}
.btn-search {
    height: 40px;
    background-color: rgb(30, 32, 31);
    color: white;
    font-size: 0.9em;
    outline: 0;
}

/* -----------Estilos de Menu de funciones------------- */
.menu-container{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1em;
}
.menu-container div{
    padding: 0.3em 0em;
}
.menu-container option{
    font-family: 'Lato', sans-serif;
}
.menu-container label{
    padding: 0em 1em;
}
/* ---------------Estilos conteo----------------- */

.pokemones-quantity{
    margin-left: auto;
    margin-right: auto;
    max-width:1100px;
    padding: 0em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 270px;
    border-top: solid 2px #337f7b;
}
.pokemones{
    font-size: 1.4em;
    font-weight: bold;
}
.quantity{
    text-align: center;
    width: 120px;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to right,#a2db96, #84d89b, 	#6ad59f, #51d2a2,#2ecea8);
    padding: 0.5em 0.5em;
    border-radius: 0.4em;
}

/* ---------------Estilos Card pokemon----------------- */
#container-card{/**contenedor de card*/
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    padding: 1em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.pokemon-group{
    box-shadow: 0 0 9px 0 #c4c3c3;
    background-color: #fcfcf9;
    padding: 1em;
    margin: 1em;
    border-radius: 0.4em;
    max-width:300px;
    min-width: 270px;
    display: grid;
    grid-template-columns: 53% 47%;
    flex-basis: 30%;
    
}
.poke-name {
    text-transform: capitalize;
    font-size: 1.2em;
    margin: 0.7em 0em;
    text-align: center;
    background-color:  #35867d;
    border-radius: 0.4em;
    color: white;
}
img{
    width: 140px;
    height: auto;
}

.poke-img{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-info {
    border-left: solid 2px #DDDDDD;
    font-size: 14px;
    padding-left: 1em;
    height: 150px;
}
.poke-info {
    font-size: 15px;
}
/* ---------------Estilos btn top ---------------- */

.container-btn-top {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 1rem;
    height: 1rem;
    z-index: -3;
}

.btn-top {
    position: absolute;
    font-size: 1.7rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: .3s;
}

.show {
    z-index: 10;
    transform: translate(-50%, -50%) scale(1);
}

.show .btn-top {
    animation: popup .1s ease-in-out;
    width: 3.7rem;
    height: 3.7rem;
    color: #ffffff;
    z-index: 11;
    transform: translate(-50%, -50%) scale(1);
}

/* ---------------Estilos Footer ---------------- */

.piepag{
    background-color: black;
    color: white;
    height: 80px;
    text-align: center;
}

/* ---------------Fin estilos Card pokemon----------------- */

@media( max-width: 768px ){
    #container-pokemon{/**contenedor de card*/
        max-width: 650px;
    }
}
/* ---------Estilos en comun---------------------*/

.comun{
    text-align: center;
}
.bold{
    font-weight: bold; 
}

